<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springProject.subProject.mapper.MemberMapper">
	<!-- 로그인시 아이디,비밀번호 확인 -->
	<select id="searchUser" resultType="java.lang.String">
		SELECT mem_id FROM member WHERE mem_id=#{mem_id} AND mem_password=#{mem_password}
	</select>
	<!-- 회원가입 -->
	<insert id="insertMember">
		INSERT INTO member VALUES(#{mem_id},#{mem_password},#{mem_name},#{mem_birth},#{mem_gender},#{mem_email},#{mem_phoneNum},#{mem_postcode},#{mem_address},'normal','0','null')
	</insert>
	<!-- 아이디 증복확인 -->
	<select id="isDuplicate" resultType="java.lang.String">
		SELECT mem_id FROM member WHERE mem_id = #{id}
	</select>
	
	<!-- 마이페이지 조회 -->
	<select id="selectMyPage" resultType="com.springProject.subProject.vo.MemberVO">
		SELECT * FROM member WHERE mem_id = #{id}
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMember">
		UPDATE member
		SET mem_email = #{mem_email}, mem_phoneNum = #{mem_phoneNum}, mem_postcode = #{mem_postcode}, mem_address = #{mem_address}
		WHERE mem_id = #{mem_id}
	</update>
	
	<!-- 장바구니 불러오기 -->
	<select id="selectMyBasket" resultType="com.springProject.subProject.vo.BasketListVO">
       SELECT * FROM basket_list WHERE bk_mem_id = #{id}
    </select>
    
    <!-- 장바구니 수량변경 -->
    <update id="updateBasket">
    	UPDATE basket SET bk_qty=#{bk_qty} WHERE bk_mem_id=#{bk_mem_id} AND bk_order_num=#{bk_order_num} AND bk_pd_code=#{bk_pd_code} 
    </update>
    
    <!-- 장바구니 물품 삭제 -->
    <delete id="deleteMyBasket">
         DELETE FROM basket WHERE bk_pd_code = #{bk_pd_code} AND bk_mem_id = #{bk_mem_id} AND bk_order_num = #{bk_order_num}
   </delete>
   
   <select id="isInquiry" resultType="java.lang.String">
   		SELECT CASE WHEN RESULT=0 THEN '주문내역이 없습니다' END AS COMMENT FROM (SELECT COUNT(*) AS RESULT FROM ORDER_CHECK WHERE order_mem_id=#{mem_id}) A
   </select>
   
   <select id="loadInquiry" resultType="com.springProject.subProject.vo.Order_checkVO">
   		SELECT * FROM order_check WHERE order_mem_id =#{mem_id}
   </select>
</mapper>
